
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8 col-md-6 col-lg-8 col-xl-8" style="height:600px;">
			<div class="container">
        <table class="table">
          <thead>
            <tr>
              <th>Product Name</th>
              <th>SKU</th>
              <th>Description</th>
              <th>Price</th>
              <th>Stock Level</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of products">
                <td>{{product.name}}</td>
                <td>{{product.sku}}</td>
                <td>{{product.description}}</td>
                <td>{{product.price}}</td>
                <td>{{product.stock}}</td>
                <td><button (click)="updateProduct(product.id)" class="btn btn-success"><i class="fa fa-pencil"></i></button></td>
                <td><button (click)="deleteProduct(product.id)" class="btn btn-warning"><i class="fa fa-trash"></i></button></td>
              </tr>
          </tbody>
        </table>
      </div>
		</div>
    <div class="col-sm-4 col-md-6 col-lg-4 col-xl-4" style="height:600px;">
      <app-product></app-product>
    </div>
  </div>
</div>
