<header class="custom">
  <nav class="navbar navbar-expand-md">
      <div class="navbar-brand">
          My Angular App
	  </div>

      <ul class="navbar-nav navbar-collapse justify-content-end">
              <li><a routerLink="/welcome/user" class="nav-link" ><i class="fa fa-home" style="color:white"></i></a></li>
              <li><a routerLink="/products" class="nav-link text-light">Products</a></li>
              <li><a routerLink="/login" class="nav-link text-light">Login</a></li>
              <li><a routerLink="/logout" class="nav-link text-light">Logout</a></li>
      </ul>
  </nav>
</header>

